auto lo
iface lo inet loopback

# eno1 is my physical network adapter name.
# Change 'eno1' *everywhere* in this file for your adapter name.
auto eno1
iface eno1 inet manual
    post-up echo 1 > /proc/sys/net/ipv4/conf/eno1/proxy_arp

# vmbr0 is your *public* network interface.
# Change this to DHCP if appropriate for your network.
auto vmbr0
iface vmbr0 inet static
   address 192.168.123.134/24
   gateway 192.168.123.1
   bridge-ports eno1
   bridge-stp off
   bridge-fd 0
   bridge_maxwait 0
   post-up echo 1 > /proc/sys/net/ipv4/conf/vmbr0/proxy_arp
   up route add -net 0.0.0.0 netmask 255.255.255.0 gw 192.168.123.1 eno1
    # Add additional public ip addresses if available:
    ### post-up ip addr add 192.168.123.11/24 brd + dev vmbr0
    ### post-up ip addr add 192.168.123.12/24 brd + dev vmbr0

auto vmbr1
iface vmbr1 inet static
    # This is the static *private* subnet for containers
    address 10.20.30.1
    netmask 255.255.255.0
    bridge_ports none
    bridge_stp off
    bridge_maxwait 0
    bridge_fd 0
    # On startup run the external firewall script
    # to setup IP Masquerading and port forwards:
    # post-up /etc/firewall.sh
    post-up iptables -t nat -A POSTROUTING -s '10.20.30.0/24' -o vmbr0 -j MASQUERADE
    post-down iptables -t nat -D POSTROUTING -s '10.20.30.0/24' -o vmbr0 -j MASQUERADE

# WiFi Dongle
#allow-hotplug wlan0
#iface wlan0 inet manual
#    wpa-ssid HA_LTE
#    wpa-psk mypassword
#    post-up echo 1 > /proc/sys/net/ipv4/conf/wlan0/proxy_arp


source /etc/network/interfaces.d/*